# Ignoring all data in /Data/
Data/**

# Making exception for .md files
!Data/**/*.md
elapsed_time_distribution.png
bundle_id_distribution.png
question_acc_distribution.png
question_id_distribution.png
/Midterm Report My Sections.pages
/Midterm Report.pages
/Video 1 Script.pages
/drawing_board.pdf
